<div class="app-container">
  <!-- 📌 En-tête académique avec logo -->
  <header class="app-header">
    <img src="./assets/amwal_logo1.webp" alt="Logo Amwal" class="app-logo" />
    <h1>Dictionnaire Français ⇄ Tarifit</h1>
  </header>

  <!-- 📌 Contenu Principal -->
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <!-- 📌 Pied de page -->
  <footer class="app-footer">
    <p>© 2025 Amwal Hassan BANHAKEIA  | Développé avec ❤️ par son neveu Mohamed BANHAKEIA</p>
  </footer>
</div>
